body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
/*ВЕРХНЄ МЕНЮ*/
.upmenu {
    padding: .5em;
    margin: 0px 180px 0px 180px;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.upmenu>li>a{
    color: black;
    font-family: 'Trispace', sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-decoration: none;
}

/*ЦЕТРАЛЬНИЙ БЛОК*/

.Logo {
    color: white;
    display: flex;
    width: 100%;
    height: 100px;
    background: red;
    justify-content: space-between;
    align-items: center;
}

.center > .right > div {
    padding-right: 15px;
}

.bigTxt {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.button {
    margin-right: 5px;
    border: solid 5px white;
    border-radius: 15px;
}



/*НИЖНЄ МЕНЮ*/


.downmenu {
    padding: .5em;
    margin: 0px 120px 0px 120px;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.downmenu>li>a{
    color: black;
    font-family: 'Trispace', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}
